body
{
    display:flex;
    min-height:100vh;
    flex-direction: column;
    padding:0px;
    margin:0px;
}

#this
{
    padding:0px 20px;
}

.header
{
height:150px;
width:100%;
position:relative;
}
.logo
{
height:120px;
width:120px;
border-radius:5px;
position:absolute;
left:40px;
top:10px;
background-image:url("logo1.png");
background-size:cover;
background-repeat:no-repeat;
background-position:center;

}


.nav li
{
    flex:0 0 auto;

    list-style: none;
    font-size:25px; 
    padding:5px 30px 5px 30px;
    line-height:35px;
    text-align:center;
    position:relative;
    border:1px solid black;
    min-width:max-content;
    color:white;
    background-color:#1E293B;
}
a
{
    text-decoration:none;
    
}
.nav
{

margin:2px 0px 2px 0px;
padding:0px;
display:flex;
justify-content:flex-start;
overflow-x:visible;
width:max-content;
min-width:100%;
box-sizing:border-box;

}

.dropdown 
{

position:absolute;
left:50%;
top:100%;
display:none;
}

.dropdown li
{
   min-width: max-content;
   padding:0px 10px;
}

.nav li a
{
    display:block;
    color:white;
}

.nav li:hover
{
background-color:red;
}
.nav li:hover .dropdown 
{
display:block;
}

.footer
{
margin-top: 2px;
height:150px;
width:100%;
border:1px solid black;
background-color:#1E293B;
margin-left:0px;
}



.main
{

width:60%;
flex:1;
margin:auto;
margin-top:10px;
}



.outer
{
width:100%;
margin:auto;
border:solid 1px black;
background-image:url("bg1.png");
background-size:100% 100%;
background-repeat:no-repeat;
background-position:top center;
padding-bottom:410px;
}


.first
{
   height:50px;
   margin:1px;
   font-size:35px;
   padding-top:10px;
   padding-left:20px; 
}
.second
{
   height:250px;
   border:1px solid black;
   margin:1px;
   font-size:25px;
+   line-height:45px;
   padding-left:20px; 
   padding-top:10px;
}
.third
{
   height:60px;
   margin:1px;
   font-size:35px;
   padding-left:20px;
 
}
.fourth
{
   height:800px;
   margin:1px; 
   font-size:20px;
   
}
.fifth
{
   height:50px;
   margin:1px; 
   font-size:35px;
   padding-left:20px;
   line-height:40px;
}
.sixth
{
   height:200px;
   margin:1px; 
   font-size:25px;
   text-align:left;
   line-height:45px;
}
.seventh    
{
   height:50px;
   margin:1px; 
   font-size:35px;
   padding-left:20px;
}
.eighth
{
   height:240px;
   margin:1px; 
   line-height:40px;
}
.table
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:60px;
    margin:1px;
}
.table div
{
border:1px solid black;
 font-size:20px;
   text-align:center;
   padding:5px;
}
.fourth li
{
   line-height:50px;
   text-align:left;
   list-style: none;
}
.fourth label
{

   margin:20px;
}
.sixth ul
{
   margin:2px;
}




