body
{
    display:flex;
    min-height:100vh;
    flex-direction: column;
    padding:0px;
    margin:0px;
background-image:url("bg1.png");
background-size:cover;
background-repeat:no-repeat;
background-position:center;
background-attachment:fixed;
}

.main
{
margin-top:10px;
width:60%;
flex:1;
margin:auto;

}


